<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

</head>
<body>


<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");
    var name = "{{ name }}" ;
    var phone = "{{ phone }}" ;
    var address = "{{ address }}" ;
    var latitude = "{{ latitude }}" ;
    var longitude = "{{ longitude }}" ;
    alert("name = " + name) ;
	var Apteka = Parse.Object.extend("Apteka");
	var apteka = new Apteka() ;
	apteka.set("name", name) ;
    apteka.set("phone", phone) ;
    apteka.set("address", address) ;
    apteka.set("latitude", parseFloat(latitude)) ;
    apteka.set("longitude", parseFloat(longitude)) ;
    apteka.save(null,
            {
                success : function(apteka){
                    alert("Удачно") ;
                },
                error : function(apteka, error){
                    alert('Failed to create new object, with error code: ' + error.description);
                }
            }) ;
</script>


</body>
</html>