{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />
        <link href="{% static 'css/bootstrap-theme.min.css' %}" rel = "stylesheet" />
    
</head>
<body>

<div class = "container top">

<form id = "apteka_add_form"     method="POST" role = "form">
    {% csrf_token %}
<div class = "form-group">
    <label for = "name">Название аптеки: </label>
    <input type = "text" class = "form-control input-lg" id = "name" name = "name" />
</div>
<div class = "form-group">
    <label for = "phone">Номер телефона аптеки(с кодом): </label>
    <input type = "text" class = "form-control input-lg" id = "phone" name="phone" />
</div>
<div class = "form-group">
    <label for = "address">Адрес аптеки: </label>
    <input type = "text" class = "form-control input-lg" id = "address" name = "address" />
</div>
<div class = "form-group">
    <label for = "latitude">Latitude: </label>
    <input type = "text" class = "form-control input-lg" id = "latitude" name = "latitude" />
</div>
<div class = "form-group">
    <label for = "longitude">Longitude: </label>
    <input type = "text" class = "form-control input-lg" id = "longitude" name = "longitude" /> 
</div> 

<button type="submit" class = "btn btn-default">Сохранить </button>
        
</form>

</div>



<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");


    $("#apteka_add_form").on("submit", function(e){
			e.preventDefault() ;
			var name = $("#name").val() ;
			var phone = $("#phone").val() ;
            var address = $("#address").val() ;
		    var latitude = parseFloat($("#latitude").val()) ;
            var longitude = parseFloat($("#longitude").val()) ;

            var Apteka = Parse.Object.extend("Apteka") ;
            var apteka = new Apteka() ;

			apteka.set("name", name);
			apteka.set("phone", phone);
            apteka.set("address", address) ;
            apteka.set("latitude", latitude) ;
            apteka.set("longitude", longitude) ;
			apteka.save(null, {
  				success: function(apteka) {
    			// Execute any logic that should take place after the object is saved.
    			alert('New object created with objectId: ' + apteka.id);
                    window.location.replace("http://127.0.0.1:8000/apteka/add") ;
  			},
                error: function(apteka, error) {
    				// Execute any logic that should take place if the save fails.
    				// error is a Parse.Error with an error code and description.
    				alert('Failed to create new object, with error code: ' + error.description);
  	}
});

		}) ;


</script>


</body>
</html>