{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>



    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel = "stylesheet" />
</head>
<body>

<div class="panel panel-default">

   <div class="panel-body">
      <ul class="list-inline center-block text-center">
          <li class="active"><a href="http://127.0.0.1:8000/apteka">Список аптек</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/add">Добавить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/del">Удалить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/medikament">Список медикаментов</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/add">Добавить медикамента</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/del">Удалить медикамента</a></li>
        </ul>
   </div>
</div>


<table class="table table-striped" >

   <thead>
      <tr>
         <th>Название</th>
         <th>Телефон</th>
         <th>Адрес</th>
         <th>Latitude</th>
         <th>Longitude</th>
          <th></th>

      </tr>
   </thead>

   <tbody id = "tbody">
      
   </tbody>
</table>
 



<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");

	var Apteka = Parse.Object.extend("Apteka");
	var query = new Parse.Query(Apteka) ;
	query.find(
            {
                success : function(results){
                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var aptekaName = object.get('name') ;
                        var aptekaPhone = object.get('phone') ;
                        var address = object.get('address') ;
                        var latitude = object.get('latitude') ;
                        var longitude = object.get('longitude') ;

                        $("#tbody").append("<tr><td>"+aptekaName+"</td>"+
                                        "<td>"+aptekaPhone+"</td>"+"<td>"+address+"</td>"+"<td>"+latitude+"</td>"+"<td>"+longitude+"</td>"+
                                        "<td><a href = 'http://127.0.0.1:8000/apteka/update/"+object.id+"' class='btn btn-primary btn-sm' role='button'>Редактировать</a></td></tr>") ;
                    }

                },
                error : function(error){
                    alert("ERRROR!!!") ;
                }
            }
    ) ;


</script>



</body>
</html>