{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />
</head>
<body>

<ul id = "test">

</ul>
<div class = "container">
    <div class = "col-md-12">
        <div class = "col-md-4" id = "col1">
            <h4>Название аптеки</h4>
        </div>

        <div class="col-md-2" id="col2">
            <h4>Номер телефона</h4>
        </div>

        <div class = "col-md-4" id="col3">
            <h4>Адрес аптеки</h4>
        </div>

        <div class = "col-md-1" id = "col4">
            <h4>Долгота</h4>
        </div>

        <div class = "col-md-1" id = "col5">
            <h4>Широта</h4>
        </div>
    </div>
</div>




<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");

	var Apteka = Parse.Object.extend("Apteka");
	var query = new Parse.Query(Apteka) ;
	query.find(
            {
                success : function(results){
                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var aptekaName = object.get('name') ;
                        var aptekaPhone = object.get('phone') ;
                        var address = object.get('address') ;
                        var latitude = object.get('latitude') ;
                        var longitude = object.get('longitude') ;
                        $("#col1").append(aptekaName + "<br>") ;
                        $("#col2").append(aptekaPhone + "<br>") ;
                        $("#col3").append(address + "<br>") ;
                        $("#col4").append(latitude + "<br>") ;
                        $("#col5").append(longitude + "<br>") ;
                    }

                },
                error : function(error){
                    alert("ERRROR!!!") ;
                }
            }
    ) ;

</script>

</body>
</html>