{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />

</head>
<body>

<div class="panel panel-default">

   <div class="panel-body">
      <ul class="list-inline center-block text-center">
          <li class="active"><a href="http://127.0.0.1:8000/apteka">Список аптек</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/add">Добавить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/del">Удалить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/medikament">Список медикаментов</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/add">Добавить медикамента</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/del">Удалить медикамента</a></li>
        </ul>
   </div>
</div>



<h2>Вы действительно хотите удалить аптеку?</h2>

<div class = "container top">
    <form id = "apteka_delete_form" role = "form">
    {% csrf_token %}
        <div class = "form-group">
            <label for = "apteka_choice">Выберите аптеку:</label><br>
            <select name = "apteks" id = "apteka_choice" class = "form-control">
            </select>
        </div>
        <button type="submit" class = "btn btn-default">Удалить</button>
    </form>
</div>


<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");

    var Apteka = Parse.Object.extend("Apteka");
	var query = new Parse.Query(Apteka) ;
    query.find(
            {
                success : function(results){

                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var id = object.id ;
                        var name = object.get('name') ;
                        $("#apteka_choice").
                                append("<option value = " + id + ">" + name + "</option>") ;
                    }


                },
                error : function(error){

                }
            }
    ) ;

    $("#apteka_delete_form").on("submit", function(e){
        e.preventDefault() ;

        var apteka_choice = $("#apteka_choice").val() ;

        var Medikament = Parse.Object.extend("Medikament");
        var innerQuery = new Parse.Query(Apteka);
        innerQuery.equalTo("objectId", apteka_choice) ;
        var medikament_query = new Parse.Query(Medikament);
        medikament_query.matchesQuery("apteka_rel", innerQuery);
        medikament_query.find({
            success: function(medikaments) {
                for(var i = 0; i < medikaments.length; i++) {
                    var medikament = medikaments[i];
                    medikament.destroy({
                        success:function(){},
                        error : function(error){}
                    }) ;
                }

            },
            error : function(error){}
        });


        var del_query = new Parse.Query(Apteka) ;
        del_query.get(apteka_choice, {
            success : function(apteka){
                apteka.destroy({
                    success : function(){
                        alert(" Аптека удалена") ;
                        window.location.replace("http://127.0.0.1:8000/apteka/") ;
                    },
                    error : function(error){
                        alert("Ошибка! Аптека не удалена!") ;
                    }
                }) ;
            },
            error : function(apteka, error){

            }
        }) ;


    }) ;




</script>
</body>
</html>