<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

</head>
<body>
<!--
<form action="/medikament/add_process/" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type = "submit" value="Сохранить" />
</form>
-->

<form action = "/medikament/add_process/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type = "text" name = "title" />
    <input type = "text" name="description" />
    <input type = "text" name = "price" />
    <select name="category">
        <option value = "1">Лекарственные преператы</option>
        <option value="2">Для мам и детей</option>
        <option value="3">Витамины и бад</option>
    </select>
    <select name = "apteks" id = "apteka_choice">
    </select>
    <input type = "file" name = "image" />

    <input type="submit" value = "Сохранить" />
</form>



<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");

	var Apteka = Parse.Object.extend("Apteka");
	var query = new Parse.Query(Apteka) ;
	query.find(
            {
                success : function(results){
                    alert('SUCCESS!!!!!') ;
                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var id = object.id ;
                        var name = object.get('name') ;
                        $("#apteka_choice").
                                append("<option value = " + id + ">" + name + "</option>") ;
                    }
                    alert("SUCCESS!!! ") ;

                },
                error : function(error){
                    alert("ERRROR!!!") ;
                }
            }
    ) ;

</script>






</body>
</html>