<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

</head>
<body>


<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");
    var title = "{{ title }}" ;
    var category = "{{ category }}" ;

    var apteka = "{{ apteka }}" ;
    var image = "{{ image }}" ;
    var image_file = image.files[0] ;
    var name = "photo.jpg" ;
    var parseFile = new Parse.File(name, image_file) ;
{#    parseFile.save().then(function(){#}
{#        alert("IMAGE SUCCESS") ;#}
{#    }, function (error){#}
{#        alert("IMAGE ERROR") ;#}
{#    }) ;#}

    var Medikament = Parse.Object.extend("Medikament");
	var medikament = new Medikament();

	medikament.set("image", parseFile);
	gameScore.save(null, {
  	success: function(medikament) {
    	// Execute any logic that should take place after the object is saved.
    	alert('IMage SUCCESS!!!');
  	},
  	error: function(medikament, error) {
    	// Execute any logic that should take place if the save fails.
    	// error is a Parse.Error with an error code and description.
    	alert('Failed to create new object, with error code: ' + error.description);
  	}
});
{#    var img = new Image() ;#}
{#    img.src = "{{ image }}" ;#}
{#    alert("image src = " + img) ;#}

{#    var Apteka = Parse.Object.extend("Apteka");#}
{#	var apteka = new Apteka() ;#}
{#	apteka.set("name", name) ;#}
{#    apteka.set("phone", phone) ;#}
{#    apteka.set("address", address) ;#}
{#    apteka.set("latitude", parseFloat(latitude)) ;#}
{#    apteka.set("longitude", parseFloat(longitude)) ;#}
{#    apteka.save(null,#}
{#            {#}
{#                success : function(apteka){#}
{#                    alert("Удачно") ;#}
{#                },#}
{#                error : function(apteka, error){#}
{#                    alert('Failed to create new object, with error code: ' + error.description);#}
{#                }#}
{#            }) ;#}
</script>

</body>
</html>