{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />

</head>
<body>

<div class="panel panel-default">

   <div class="panel-body">
      <ul class="list-inline center-block text-center">
          <li class="active"><a href="http://127.0.0.1:8000/apteka">Список аптек</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/add">Добавить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/del">Удалить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/medikament">Список медикаментов</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/add">Добавить медикамента</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/del">Удалить медикамента</a></li>
        </ul>
   </div>
</div>



<h2>Вы действительно хотите удалить медикамента?
    <p>Тогда выбирай аптеку, затем медикамента!</p>
    </h2>

<div class = "container top">
    <form id = "medikament_delete_form" role = "form">
        {% csrf_token %}
        <div class = "form-group">
            <label for = "apteka_choice">Выберите аптеку:</label>
            <select name = "apteks" id = "apteka_choice" class = "form-control"></select>
        </div>
        <div class = "form-group">
            <label for = "medikament_choice">Выберите медикамента:</label>
            <select name = "medikaments" id = "medikament_choice" class = "form-control"></select>
        </div>
        <button type="submit" class = "btn btn-default">Удалить</button>
    </form>
</div>



<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");



    var Apteka = Parse.Object.extend("Apteka");
	var apteka_query = new Parse.Query(Apteka) ;
    apteka_query.find(
            {
                success : function(results){

                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var id = object.id ;
                        var name = object.get('name') ;
                        $("#apteka_choice").
                                append("<option value = " + id + ">" + name + "</option>") ;
                    }


                },
                error : function(error){

                }
            }
    ) ;

$("#apteka_choice").change(function (){
    $("#medikament_choice").empty() ;
    var apteka_choice = $("#apteka_choice").val() ;
    var Medikament = Parse.Object.extend("Medikament");
	var medikament_query = new Parse.Query(Medikament) ;
    var apteka_query2 = new Parse.Query(Apteka) ;
    apteka_query2.equalTo("objectId", apteka_choice) ;
    medikament_query.matchesQuery("apteka_rel", apteka_query2);
    medikament_query.find(
            {
                success : function(results){

                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var id = object.id ;
                        var title = object.get('title') ;
                        $("#medikament_choice").
                                append("<option value = " + id + ">" + title + "</option>") ;
                    }


                },
                error : function(error){

                }
            }
    ) ;


}) ;

    $("#medikament_delete_form").on("submit", function(e) {
        e.preventDefault();

        var medikament_choice = $("#medikament_choice").val();

        var MedikamentClass = Parse.Object.extend("Medikament");
        var medikament_query_del = new Parse.Query(MedikamentClass);

        medikament_query_del.get(medikament_choice, {
            success : function(medikament){

                medikament.destroy({
                    success : function(){
                        alert("Медикамент удален") ;
                        window.location.replace("http://127.0.0.1:8000/medikament/") ;
                    },
                    error : function(){}
                }) ;


            },
            error : function (medikament, error) {
                
            }
        }) ;
    }) ;




</script>


</body>
</html>