{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel = "stylesheet" />

</head>
<body>

<div class="panel panel-default">

   <div class="panel-body">
      <ul class="list-inline center-block text-center">
          <li class="active"><a href="http://127.0.0.1:8000/apteka">Список аптек</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/add">Добавить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/apteka/del">Удалить аптеку</a></li>
          <li><a href="http://127.0.0.1:8000/medikament">Список медикаментов</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/add">Добавить медикамента</a></li>
          <li><a href="http://127.0.0.1:8000/medikament/del">Удалить медикамента</a></li>
        </ul>
   </div>
</div>



<div class = "container top">
    <form id = "medikament_update_form" role = "form" enctype="multipart/form-data" method = "POST">
         {% csrf_token %}
        <div class = "form-group">
            <label for = "title">Название медикамента: </label><br>
            <input type = "text" class = "form-control input-lg" id = "title" name = "title" />
        </div>
        <div class = "form-group">
            <label for = "description">Свойства: </label><br>
            <input type = "text" class = "form-control input-lg" id = "description" name="description" />
        </div>
        <div class = "form-group">
            <label for = "category">Выберите категорию медикамента:</label><br>
            <select id = "category" name="category" class = "form-control">
                <option value = "1">Лекарственные преператы</option>
                <option value="2">Травы, фито чаи</option>
                <option value="3">Добавки и витамины</option>
                <option value="4">Интим и здоровье</option>
                <option value="5">Медтехника</option>
                <option value="6">Для мам и детей</option>
                <option value="7">Красота и уход</option>
                <option value="8">Разное</option>
            </select>
            <p class="help-block">перевыбирайте категорию</p>
        </div>
        <div class="form-group">
            <label for = "apteka_choice">Выберите аптеку: </label><br>
            <select name = "apteks" id = "apteka_choice" class = "form-control">
            </select>
            <p class="help-block">перевыбирайте аптеку</p>
        </div>
        <div class="form-group">
            <label for = "price">Стоимость медикамента (в цифрах):</label><br>
            <input type = "text" id = "price" name = "price" class = "form-control"/>
        </div>
        <div class = "form-group">
            <label for="img_file">Прикрепите фото:</label><br>
            <input type = "file" id = "img_file" name = "image" />
            <p class="help-block">не должен быть пустым</p>
        </div>
        <div class="form-group">
            <label for = "info_file">Прикрепите файл описание:</label><br>
            <input type = "file" id = "info_file" name = "info" />
            <p class = "help-block">не должен быть пустым</p>
        </div>
        <button type="submit" class = "btn btn-default">Обновить</button>
    </form>
</div>


<script type="text/javascript">
    Parse.initialize("yMnjSWvajnQ10B9oDidOmBA2dH7FrFh4SXeFaXiy",
      "tiGZjISmsliHuQXSxbW4YzWRA9aagyfOKWwTyyYW");

    var Apteka1 = Parse.Object.extend("Apteka");
    var apteka_query = new Parse.Query(Apteka1) ;
    apteka_query.find(
            {
                success : function(results){

                    for(var i = 0; i < results.length; i++){
                        var object = results[i] ;
                        var id = object.id ;
                        var name = object.get('name') ;
                        $("#apteka_choice").
                                append("<option value = " + id + ">" + name + "</option>") ;
                    }


                },
                error : function(error){

                }
            }
    ) ;


    var Medikament1 = Parse.Object.extend("Medikament");
    var med_query = new Parse.Query(Medikament1) ;
    id = "{{ id }}" ;
    med_query.get(id,{
        success : function(medikament){
            var old_title = medikament.get('title') ;
            var old_description = medikament.get('description') ;
            var old_price = medikament.get('price') ;
            $("#title").attr('value', old_title) ;
            $("#description").attr('value', old_description) ;
            $("#price").attr('value', old_price) ;

        },
        error : function(medikament, error){
            alert("med_query_ERROR! " + error.description) ;
        }
    }) ;


    $("#medikament_update_form").on("submit", function(e) {
        e.preventDefault();

            var title = $("#title").val() ;
            var description = $("#description").val() ;
            var price = parseFloat($("#price").val()) ;
            var category = $("#category").val() ;
            var apteka_choice = $("#apteka_choice").val() ;


            var img_file_control = $("#img_file")[0] ;
            if (img_file_control.files.length > 0) {
                var img_file = img_file_control.files[0];
                var img_name = "photo.jpg";
                parseImageFile = new Parse.File(img_name, img_file);


            }


            var info_file_control = $("#info_file")[0] ;
            if (info_file_control.files.length > 0) {
                var info_file = info_file_control.files[0];
                var info_name = "info.txt";
                parseInfoFile = new Parse.File(info_name, info_file);


            }

        var Medikament2 = Parse.Object.extend("Medikament");
        var update_med_query = new Parse.Query(Medikament2) ;
        var Apteka2 = Parse.Object.extend("Apteka");
        var apteka_update = new Apteka2() ;
        update_med_query.get(id,{
        success : function(medikament){
            medikament.set("title", title);
            medikament.set("description", description);
            medikament.set("price", price) ;
            medikament.set("category_id", category) ;
            apteka_update.id = apteka_choice ;
            medikament.set("apteka_rel", apteka_update) ;

            parseImageFile.save().then(function () {
                    // The file has been saved to Parse.
                    alert("parseImageFile saved") ;

                }, function (error) {
                    // The file either could not be read, or could not be saved to Parse.
                    alert("parseImageFile error") ;
                });
            medikament.set("image", parseImageFile) ;

            parseInfoFile.save().then(function () {
                    // The file has been saved to Parse.
                    alert("parseInfoFile saved") ;
                }, function (error) {
                    // The file either could not be read, or could not be saved to Parse.
                    alert("parseInfoFile error") ;
                });
            medikament.set("information", parseInfoFile) ;
            medikament.save() ;
            alert("new title = " + title) ;
            alert("Данные медикамента обновился") ;
            window.location.replace("http://127.0.0.1:8000/medikament/") ;
        },
        error : function(medikament, error){
            alert("Ошибка при обновлений " + error.description) ;
        }
    }) ;




    }) ;


</script>

</body>
</html>